.delete{
    margin-left: 20px;
}
.delete button{
    border: 1 px solid gray;
    background: transparent;
    color: rgb(88, 46, 46);
}
.delete button:hover {
    color: rgb(215, 29, 29);
}

.empty{
    font-weight: 200;
    font-size: large,
    
    
}